body, .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2b2d42;
    overflow-x: hidden;
}

.slider-container {
    margin-top: 0.2%;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.slide {
    gap: 0.7320644216691069vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 21.961932650073205vw;
    border-radius: 0.5124450951683748vw;
}

.switchSlide-1, .switchSlide-2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6603221083455346vw;
    padding: 0.07320644216691069vw;
    border-radius: 50%;
    width: 5.124450951683748vw;
    height: 5.124450951683748vw;
    margin:  0.36603221083455345vw;
}

.switchSlide-1:hover {
    transform: translateX(-0.5124450951683748vw);
    transition: all 0.2s;
}

.switchSlide-2:hover {
    transform: translateX(0.5124450951683748vw);
    transition: all 0.2s;
}

.switchSlide-1:active {
    transform: scale(0.9);
    transition: all 0.1s;
}

.switchSlide-2:active {
    transform: scale(0.9);
    transition: all 0.1s;
}


.header {
    user-select: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1vh;
    text-align: center;
    font-size: 4.5vw;
    color: white;
    text-shadow: 0.14641288433382138vw 0.14641288433382138vw 0.36603221083455345vw black;
}

.button{
    user-select: none;
    color: white;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    width: 14vw;
    height: 3vw;
    font-size: 2.5vh;
    border-radius: 0.5124450951683748vw;
    box-shadow: 0px  0.14641288433382138vw 1.0980966325036603vw 1px black;
    margin-bottom: 10vh;
}

.button:hover{
    transition: all 0.3s;
    transform: translateX(-0.7320644216691069vw);
    box-shadow: 0.7320644216691069vw 0.14641288433382138vw 1.0980966325036603vw 0.07320644216691069vw black;
}
.button:active{
    transition: all 0.1s;
    transform: translateX(0.7320644216691069vw);
    box-shadow: 0px 0.14641288433382138vw 1.0980966325036603vw 0.07320644216691069vw black;
}