@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    /* background-color: #2b2d42; */
    background-color: #2b2d42;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.logo-box {
    position: fixed;
    top: 15%;
    right: 2vw;
    width: 18vh;
    display: flex;
    flex-direction: column;
}

.logo-box img {
    margin-top: 6vh;
    border-radius: 50%;
    box-shadow: 0px 0.36603221083455345vw 1.4641288433382138vw 0.14641288433382138vw black;
}

.logo-box img:hover {
    transition: all 0.5s;
    transform: scale(1.09);
    box-shadow: 0px 0px 1.4641288433382138vw 0.14641288433382138vw black;
}

.logo-box img:active {
    transition: all 0.2s;
    transform: scale(1.010) rotate(360deg);
}

nav {
    justify-content: center;
    align-items: right;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -1.1%;
    top: 20%;
    height: 14.5vh;
    font-size: 4vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    box-shadow: 0px 0.07320644216691069vw 0.5124450951683748vw 0.007320644216691069vw black;
}

nav {
    flex-direction: column;
    width: 10vw;
}

nav{
    background-color: rgba(240, 240, 240, 0.100);
}


nav a {
    text-decoration: none;
    font-family: 'Afacad', sans-serif;
}

#nav-box {
    font-weight: 800;
    background-color: #2b2d42;
    color: white;
    transition: all 0.2s;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vh;

}

#nav-box:hover {
    color: white;
    background-color: black;
    margin-left: 2vw;
    border-bottom-left-radius: 1.0980966325036603vw;
    border-top-left-radius: 1.0980966325036603vw;
    box-shadow: -5px 0px 0.7320644216691069vw 0.02px white;
}

#nav-box {
    border-top-right-radius: 0.5124450951683748vw;
    border-bottom-right-radius: 0.5124450951683748vw;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-background {
    position: relative;
    top: 2vh;
    width: 70vw;
    margin-bottom: 0px;
    border-radius: 1vh;
    box-shadow: 0px 3px 10px 2px black;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

#about {
    font-family: 'Roboto', sans-serif;
    color: #edf2f4;
    width: 50%;
    margin-top: 10vh;
    padding: 5vh;
    border-radius: 1vh;
    box-shadow: 0px 4px 15px 1px black;
}

#about h1 {
    font-family: 'Afacad', sans-serif;
    font-size: 7vh;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px black;
}

#about p {
    font-size: 3.7vh;
    text-align: justify;
}

#gallery {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cheerdance {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.cheerdance-h1 {
    display: none;
    margin: 0;
    text-align: center;
    color: white;
}

.slide-1,
.slide-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-2 div {
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    width: 85%;
    gap: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.slide-2 div img {
    width: 49%;
    margin-top: 1vh;
}

.cheerdance-img-1 {
    width: 80%;
    border-radius: 2vh;
    box-shadow: 0px 4px 15px 1px black;
}

.cheerdance-img-2 {
    width: 50%;
    border-radius: 1vh;
}

.cheerdance-img-2:hover {
    transition: all 0.2s;
    transform: translateY(-7px);
    box-shadow: 0px 4px 15px 1px black;
}

.hide {
    display: none;
}

@keyframes show {
    from {
        transform: translateX(-73vw);
    }

    to {
        transform: translateX(0);
    }
}

.slide-2 h1 {
    text-align: center;
    transform: translateX(-73vw);
    animation: show 1.6s ease-in-out 0s 1 normal forwards;
    font-family: 'Afacad', sans-serif;
    box-shadow: 0px 4px 15px 1px black;
    border-radius: 7px;
    font-size: 5vh;
    color: #edf2f4;
    margin-top: 4%;
    width: 80%;
    padding: 2%;
    text-shadow: 2px 2px 5px black;
}


#mrms-video{
    margin-top: 2vw;
}

#mrms {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
    width: 90%;
}

#mrms div {
    margin-bottom: 2vh;
    display: flex;
    gap: 103vw;
}

#mrms h1 {
    color: white;
    font-size: 4vw;
    font-family: 'Afacad', sans-serif;
    text-shadow: 2px 2px 5px black;
}


.show-candidate {
    animation: move 0.9s ease-in-out 0s 1 normal forwards;
}

@keyframes move {
    from {
        gap: 102.48901903367496vw;
    }

    to {
        gap: 0.7320644216691069vw;
    }
}

#mrms h1 {
    text-align: center;
    color: white;
}

#mrms img {
    width: 20vw;
    border-radius: 2vh;
}

.fullpicture {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 5%;
    position: fixed;
    left: 25%;
    width: 50%;
    border-radius: 0.5124450951683748vw;
    height: 35.87115666178624vw;
    background-color: rgba(150, 150, 150, 0.774);
    box-shadow: 0px 4px 15px 1px black;
}

.exit-btn {
    transform: translateY(-1.171303074670571vw);
    transform: translatex(-0.8052708638360175vw);
    border-radius: 0.29282576866764276vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:  0.36603221083455345vw;
    background-color: white;
    align-self: flex-end;
    width: 1.4641288433382138vw;
    height:  1.0980966325036603vw;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4641288433382138vw;
}

.fullpicture-img {
    border-radius: 0.36603221083455345vw;
    width: 85%;
    height: 85%;
    background-color: blue;
}

.candidates-h1 {
    margin: 0;
    color: white;
    font-size: 2.9282576866764276vw;
    font-family: 'Afacad', sans-serif;
    text-shadow: 0.14641288433382138vw 0.14641288433382138vw 0.36603221083455345vw black;
    padding: 0.7320644216691069vw;
    padding-left: 1.8301610541727673vw;
    padding-right: 1.8301610541727673vw;
    border-radius: 0.5124450951683748vw;
}

.candidates-h1:hover {
    color: white;
    transition: all 0.3s;
    transform: translateY(-0.9516837481698389vw);
    background-color: black;
}
.candidates-h1:active {
    transform: translateY(0.4px);
}


.candidates-h1-box {
    margin-top: 10.980966325036603vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.51683748169839vw;
    margin-bottom: 7.320644216691069vw;
}

.candidates-h1-box:hover {
    transition: all 0.4s;
    gap: 2.9282576866764276vw;
}



.arrows {
    color: white;
    font-size: 4.392386530014641vw;
}

.arrow1 {
    transition: all 0.3s;
    transform: rotate(-10deg) scale(1.2);
    color: maroon;
}

.arrow2 {
    transition: all 0.3s;
    transform: rotate(10deg) scale(1.2);
    color: maroon;
}

.scroll-up-1 {
display: none;
}
html{
    scroll-behavior: smooth;
}

.scroll-up-2{
    user-select: none;
    position: fixed;
    left: 3%;
    top: 75%;
    transform: translate(0, -50%) rotate(-90deg);
    color: white;
    font-size: 2.9282576866764276vw;
    animation: scrollUp 0.8s ease-in-out infinite normal forwards;
}


.scroll-up-2-stop{
    animation: none;
    transform: translate(0, -50%) rotate(-90deg);
}


.scroll-up-2-stop:active{
    animation: none;
    transition:all 0.2s;
    transform: translate(0, -50%) rotate(-90deg) scale(0.8);
}

@keyframes scrollUp{
    0%{
        top: 75%;
        text-shadow: -0.5124450951683748vw 0px 0.5124450951683748vw maroon;
    }
    50%{
        text-shadow: 0px 0px 0.029282576866764276vw black;
        top: 78%;
    }
    100%{
        top: 75%;
        text-shadow: -0.5124450951683748vw 0px 0.5124450951683748vw maroon;
    }
}
